
.customSofia .panel-heading {
    background-color: #B0D137;
    /*color: #fff;*/
}

.tagEspecialidade {
    border: 0px solid #808080;
    border-radius: 5px;
    background-color: #6a3990;
    padding: 9px;
    box-shadow: inset 0px 0px 10px #ffffff, 0px 0px 0px #ff0;
    color: white;
    /*background-color:#ddd;*/
    /*width:200px;*/
    /*padding: 10px;*/
}

.borda-esquerda {
    border-left: 2px solid #808080;
}

.quadro-profissao {
    padding: 10px;
    background-color: rgba(228, 224, 224, 0.77);
    box-shadow: inset 0px 0px 10px #ffffff, 0px 0px 0px #ff0;
    margin-left:2px;
    margin-right:2px;
    border-radius:5px;
}
.classeFooterSofia{
    margin-top:285px;
}